<div class="articles">
        <ol>
            {% for article in articles_page.object_list %}
            <li>
                <article>
                    <footer>
                         <p>
                            <time id="articleListDate{{ article.url }}" datetime=" {{ article.date }}">
                                <script>
                                  document.getElementById(`articleListDate{{ article.url }}`).textContent = moment('{{ article.date }}').format('LL');;
                                </script>
                            </time>
                        </p>
                    </footer>
                    <header>
                        {% if article.tweet == 'true' %}
                            <h3 title="this should be a tweet"><a href="{{ SITEURL }}/tag/tweet">🐦</a></h3>
                            <div class="article" role="article">
                                <article class="tweet">
                                    <div class="article">
                                        <div class="content">
                                            <blockquote>
                                                <h2>
                                                    {{ article.content|safe }}
                                                </h2>
                                            </blockquote>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {% else %}
                            <a href="{{ SITEURL }}/{{ article.url }}">
                                <h2>{{ article.title }}</h2>
                            </a>
                        {% endif %}
                    </header>
                        {% if not article.tweet %}
                            <div class="summary">{{ article.description }} </div>
                        {% endif %}
                </article>
            </li>
            {% endfor %}
        </ol>
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
</div>