{% extends "base.html" %}
{{ super() }}
{% block title %}{{ article.title }}{% endblock title %}

{% block meta %}
  <meta name="title" content="{{ article.title }}">
  {% if article.description %}
      <meta name="description" content="{{ article.description }}">
  {% else %}
      <meta name="description" content="{{ SITEDESCRIPTION }}">
  {% endif %}

  {% if article.tags %}
      {% for tag in article.tags %}
          <meta name="tags" content="{{ tag }}">
      {% endfor %}
  {% else %}
      <meta name="keywords" content="{{ KEYWORDS }}">
  {% endif %}
{% endblock meta %}

{% block ogtags %}
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:description" content="{{ article.description }}">
{% if article.cover_image %}
    <meta property="og:image" content="{{ SITEURL }}/images/{{ article.cover_image }}">
{% else %}
    <meta property="og:image" content="{{ SITEURL }}/images/{{ SITEIMAGE }}">
{% endif %}
{% endblock ogtags %}
{% block content %}
  {% if article.title == '404' %}
  <div class="article" role="article">
    <article>
      <div class="content post_404">
        {{ article.content|safe }}
      </div>
    <article>
  </div>
  {% else %}
    <div class="article" role="article">
      <article>
        <div class="post-header">
          <h2>
            {% if article.note == 'true' %}
            {{ article.content|safe }}
            {% else %}
            {{ article.title }}
            {% endif %}
          </h2>
          {% if article.note == 'true' %}
          {% else %}
          <p class="description">
            {{ article.description }}
          </p>
          {% endif %}
          {% if article.date %}
          {% endif %}
          <br>
          <br>
          <p>
            <time id="articleDate" datetime="{{ article.locale_date }}">
              {{ article.locale_date.replace('-', '/') }}
            </time> by <a href="/pages/whoami">{{ AUTHOR }}</a> in
                {% for tag in article.tags %}
                  <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
          </p>
        </div>
        <div class="content">
          {% if article.cover_image and article.show_cover_image == 'true' %}
            <img {{ article.custom_css }} src="{{ SITEURL }}/images/{{ article.cover_image }}" alt="{{ article.title }}" title="by {{ article.cover_image_credit }}">
          {% endif %}
          {% if article.note == 'true' %}
          {% else %}
            {{ article.content|safe }}
          {% endif %}
        </div>

        {% if article.share_post and article.status != 'draft' %}
          <br>
          <p class="footer-post">
            Share:
            <a href="https://toot.kytta.dev/?text={{article.title}}%20%2D%20{{article.description}}%20{{ SITEURL }}/{{ article.url }}" title="Share on Mastodon" target="_blank">Mastodon</a>
            ·
            <a href="https://bsky.app/intent/compose?text={{article.title}}%20%2D%20{{article.description}}%20{{ SITEURL }}/{{ article.url }}" title="Share on Bluesky" target="_blank">Bluesky</a>
            ·
            <a href="https://manualdousuario.net/orbita/postar?u={{ SITEURL }}/{{ article.url }}&t={{article.title}}" title="Share on Órbita" target="_blank">Órbita</a>
            ·
            <a href="{{article.share_post['hacker-news']}}" title="Share on Hacker News" target="_blank">Hacker News</a>
            ·
            <a href="{{article.share_post['email']}}" title="Share via email" target="_blank">Email</a>
          </p>
        {% endif %}
      </article>
    </div>
  {% endif %}
<!-- end article -->
{% endblock content %}
