<div class="articles">
        <ol>
            {% for article in articles_page.object_list %}
            <li>
                <article>
                    <footer>
                         <p>
                            <time datetime="{{ article.date }}">
                                <script>document.write(moment('{{ article.date }}').format('LL'));</script>
                            </time>
                            {% if article.category %}
                                {% if article.category != "misc" %}
                                    em <a href="{{ SITEURL }}/{{ article.category.url }}"><span class="category-tag">{{ article.category }}</span></a>
                                {% endif %}
                            {% endif %}
                        </p>
                    </footer>
                    <header>
                        {% if article.notes == 'true' %}
                            <h2 title="notes"><a href="{{ SITEURL }}/{{ article.url }}">🗨️</a></h2>
                            <div class="article" role="article">
                                <article class="notes">
                                    <div class="article">
                                        <div class="content">
                                            <blockquote>
                                                <p>{{ article.title }}</p>
                                                {% if article.notes_image %}
                                                    <a href="{{ SITEURL }}/images/{{ article.notes_image }}">
                                                        <img src="{{ SITEURL }}/images/{{ article.notes_image }}" width="736" alt="notes by claromes" title="notes by claromes">
                                                    </a>
                                                {% endif %}
                                            </blockquote>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {% endif %}
                        {% if not article.notes %}
                            <a href="{{ SITEURL }}/{{ article.url }}">
                                <h2>{{ article.title }}</h2>
                            </a>
                        {% endif %}
                    </header>
                        {% if not article.notes %}
                            <div class="summary">{{ article.description }} </div>
                        {% endif %}
                </article>
            </li>
            {% endfor %}
        </ol>
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
</div>