{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <title>{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock title %}</title>
  {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block twittercard %}
{% if SITEIMAGE %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ SITEURL }}/images/{{ SITEIMAGE }}">
{% elif article.cover_image %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ SITEURL }}/images/{{ article.cover_image }}">
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
{% endif %}
<meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
<meta name="twitter:title" content="{{ article.title }}">
<meta name="twitter:description" content="{{ article.description }}">
<meta name="twitter:image" content="{{ SITEURL }}/images/{{ LOGO }}">
{% endblock twittercard %}
<!-- OG Tags -->
{% block ogtags %}
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
<meta property="og:title" content="{{ SITENAME }} | {{ article.title }}" />
<meta property="og:description" content="{{ article.description }}" />
{% if SITEIMAGE %}
<meta property="og:image" content="{{ SITEURL }}/images/{{ SITEIMAGE }}" />
{% elif article.cover_image %}
<meta property="og:image" content="{{ SITEURL }}/images/{{ article.cover_image }}" />
{% endif %}
{% endblock ogtags %}

{% block content %}
  <div class="article" role="article">
    <article>
      {% if article.date %}
        <footer>
            <a name="top"></a>
            <p>
              <time datetime=" {{ article.date }}">
                <script>document.write(moment('{{ article.date }}').format('LL'));</script>
              </time>
            </p>
        </footer>
      {% endif %}
        <header>
          <h2>
            {{ article.title }}
          </h2>
          <p>
            {{ article.description }}
          </p>
        </header>
      <div class="content">
         {{ article.content|safe }}

        <br>

         <p class="author_post">
          <span>by </span>{{ article.author }}
         </p>
      </div>

      <br>

      <div class="tags">
        <ul class="tags">
        {% for tag in article.tags %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag.name }}</a></li>
        {% endfor %}
        </ul>
      </div>

      {% if article.share_post and article.status != 'draft' %}
        <p class="share_post">
          <span>Share:</span>
          <a href="{{article.share_post['twitter']}}" title="Share on Twitter" target="_blank" rel="noopener noreferrer">Twitter</a>
          •
          <a href="https://toot.kytta.dev/?text={{article.title}}%0A{{ SITEURL }}/{{ article.url }}" title="Share on Mastodon" target="_blank" rel="noopener noreferrer">Mastodon</a>
          •
          <a href="{{article.share_post['hacker-news']}}" title="Share on HackerNews" target="_blank" rel="noopener noreferrer">HackerNews</a>
          •
          <a href="{{article.share_post['email']}}" title="Share via Email" target="_blank" rel="noopener noreferrer">Email</a>
        </p>
      {% endif %}

      <div class="back-to-top">
          <a href="#top">back to top</a>
      </div>
      {% if DISQUS_SITENAME %}
      <div id="disqus_thread"></div>
        {% if SITEURL %}
        <script>
          var disqus_config = function () {
          this.page.url = "{{ SITEURL }}/{{ article.url }}";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "{{ article.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
        </script>
        {% endif %}
        <script>
        (function() {
              var d = document, s = d.createElement('script');
              s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}
    </article>
  </div>
<!-- end article -->
{% endblock content %}