<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        {% block head %}
            <!-- meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="robots" content="noarchive">
            {% block meta %}
            {% endblock meta %}
            <title>{% block title %}{% endblock title %}</title>
            <!-- feeds -->
            {% if FEED_ALL_ATOM %}
            <link
                href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
                type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
            {% endif %}
            {% if FEED_ALL_RSS %}
            <link
                href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
                type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
            {% endif %}
            {% if FEED_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}"
                type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
            {% endif %}
            {% if FEED_RSS %}
            <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}"
                type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
            {% endif %}
            {% if CATEGORY_FEED_ATOM and category %}
            <link
                href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM|format(category.slug) }}{% endif %}"
                type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">
            {% endif %}
            {% if CATEGORY_FEED_RSS and category %}
            <link
                href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_RSS|format(category.slug) }}{% endif %}"
                type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed">
            {% endif %}
            {% if TAG_FEED_ATOM and tag %}
            <link
                href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_ATOM|format(tag.slug) }}{% endif %}"
                type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
            {% endif %}
            {% if TAG_FEED_RSS and tag %}
            <link
                href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_RSS|format(tag.slug) }}{% endif %}"
                type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed">
            {% endif %}
            <!-- og tags -->
            {% block ogtags %}
            {% endblock ogtags %}
            <!-- fediverse tag -->
            <meta name="fediverse:creator" content="claromes@ruby.social" >
            <!-- favicon -->
            {% if FAVICON %}
            <link rel="icon" type="image/png" sizes="192x192" href="{{ SITEURL }}/images/{{ FAVICON }}">
            {% endif %}
            <!-- css -->
            <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
        {% endblock head %}
    </head>

    <body>
        <div class="page" role="main">
            {% block header %}
            <header>
                <a href="/"><img src="{{ SITEURL }}/images/website/emoji-face-without-mouth.svg" width="20" height="20" alt="Face Without Mouth Emoji version 1.0"></a>
            </header>
            {% endblock header %}

            {% block content %}
            {% endblock content %}

            {% block footer %}
            <footer>
                <p>
                    <a href="/pages/whoami">whoami</a> ·
                    <a href="/tags">Tags</a> ·
                    <a href="/pages/privacy">Privacy & License</a> ·
                    <a href="/feeds/rss.xml">Subscribe via RSS</a>
                </p>
            </footer>
            {% endblock footer %}
        </div>
        <!-- schema -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "Person",
                "name": "Clarissa Mendes",
                "alternateName":"claromes",
                "jobTitle": "Software developer",
                "url": "https://claromes.com"
            }
        </script>
    </body>
</html>
