<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="{{ SITENAME }}">
        <meta name="description" content="{{ SITEDESCRIPTION }}">
        <meta name="keywords" content="{{ KEYWORDS }}">
        <meta charset="utf-8">
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM|format(category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_RSS|format(category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed">
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_ATOM|format(tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_RSS|format(tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed">
        {% endif %}
        <!-- twitter card metadata -->
        {% block twittercard %}
        {% endblock twittercard %}
        <!-- og tags -->
        {% block ogtags %}
        {% endblock ogtags %}
        <!-- favicon -->
        {% if FAVICON %}
        <link rel="icon" type="image/png" sizes="192x192" href="{{ SITEURL }}/images/{{ FAVICON }}">
        {% endif %}
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css">
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu+Mono&display=swap" rel="stylesheet">
        <!-- goatcounter -->
        <script data-goatcounter="https://claromes.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        <!-- date formatting and menu -->
        <script defer src="{{ SITEURL }}/theme/js/menu.js"></script>
        <script src="{{ SITEURL }}/theme/js/moment.js"></script>
        {% endblock head %}
</head>
<body>
    {% block header %}
    <div role="banner" id="masthead">
        <header>
            {% if LOGO %}
            <a href="/"><img src="{{ SITEURL }}/images/{{ LOGO }}" alt="Logo"></a>
            {% else %}
            <h1><a href="/">{{ FIRST_NAME }} $ <span class="bar"></span></a></h1>
            {% endif %}
            <nav id="menu">
                <ul>
                    {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <a href="#menu" id="menu-link">--More--</a>
        </header>
    </div>
    {% endblock header %}
        <div class="page" role="main">
            {% block content %}
            {% endblock content %}
            
            {% block footer %}
            <footer>
                <p class="information"><script>document.write(moment().format('YYYY'));</script> · <a href="/pages/info">about the blog</a></p>
            </footer>
            {% endblock footer %}
        </div>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Person",
            "jobTitle": "OSINT Developer",
            "alternateName":"Claromes",
            "url": "https://claromes.com"
        }
    </script>
</body>
</html>
