{% extends 'base.html' %}
<meta name="description" content="{{ SITEDESCRIPTION }}">
{% block ogtags %}
    <meta property="og:url" content="{{ SITEURL }}">
    <meta property="og:title" content="{{ SITENAME }}">
    <meta property="og:description" content="{{ SITEDESCRIPTION }}">
    {% if SITEIMAGE %}
        <meta property="og:image" content="{{ SITEURL }}/images/{{ SITEIMAGE }}">
    {% endif %}
{% endblock ogtags %}
{% block content %}
{% include 'article_list.html' %}
{% endblock content %}
