{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock title %}

{% block meta %}
    <meta name="title" content="{{ SITENAME }}">
    <meta name="description" content="{{ SITEDESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">
{% endblock meta %}

{% block ogtags %}
    <meta property="og:url" content="{{ SITEURL }}">
    <meta property="og:title" content="{{ SITENAME }}">
    <meta property="og:description" content="{{ SITEDESCRIPTION }}">
    {% if SITEIMAGE %}
        <meta property="og:image" content="{{ SITEURL }}/images/{{ SITEIMAGE }}">
    {% endif %}
{% endblock ogtags %}
{% block content %}
{% include 'article_list.html' %}
{% endblock content %}
