{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <title>{% block title %}{{ page.title }} {{ SITENAME }}{% endblock title %}</title>
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}

  {% for tag in page.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block twittercard %}
<meta name="twitter:title" content="{{ page.title }} {{ SITENAME }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:card" content="summary_large_image">
{% if page.cover_image %}
  <meta name="twitter:image" content="{{ SITEURL }}/images/{{ article.cover_image }}">
{% else %}
  <meta name="twitter:image" content="{{ SITEURL }}/images/{{ SITENAME }}">
{% endif %}
{% endblock twittercard %}
<!-- OG Tags -->
{% block ogtags %}
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
  <meta property="og:title" content="{{ page.title }} {{ SITENAME }}" />
  <meta property="og:description" content="{{ page.description }}" />
{% if page.cover_image %}
  <meta property="og:image" content="{{ SITEURL }}/images/{{ article.cover_image }}" />
{% else %}
  <meta name="og:image" content="{{ SITEURL }}/images/{{ SITENAME }}">
{% endif %}
{% endblock ogtags %}
{% block content %}
  <div class="page-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="articles" role="article">
    {% if page.date %}
      <footer>
          <a name="top"></a>
          <p>
            <time id="pageDate" datetime=" {{ article.date }}">
              <script>
                document.getElementById('pageDate').textContent = moment('{{ article.date }}').format('LL');
              </script>
            </time>
          </p>
      </footer>
    {% endif %}
    <div class="content">
        {{ page.content|safe }}
    </div>
  </div>
<!-- end article -->
{% endblock content %}