{% extends "base.html" %}
{% block ogtags %}
<title>{% block title %}{{ tag }} {{ SITENAME }}{% endblock title %}</title>
<meta property="og:url" content="{{ SITEURL }}/tag/{{ tag }}">
<meta property="og:title" content="{{ SITENAME }} {{ tag }}">
{% endblock ogtags %}
{% block content %}
<div class="page-title">
    {% if tag == 'tweet' %}
        <h1>this should be a tweet</h1>
    {% else %}
        <h1>{{ tag }}</h1>
    {% endif %}
</div>
{% include 'article_list.html' %}
{% endblock content %}
