{% extends "base.html" %}
{% block title %}tags{% endblock title %}
<meta name="description" content="{{ SITEDESCRIPTION }}">
<meta name="keywords" content="{{ KEYWORDS }}">
{% block ogtags %}
    <meta property="og:url" content="{{ SITEURL }}/tags">
    <meta property="og:title" content="tags {{ SITENAME }}">
{% endblock ogtags %}
{% block content %}
<div class="articles">
    <div class="custom-page">
        <h1>tags</h1>
    </div>
    <ol class="lists">
        {% for tag, articles in tags %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> <span class="count">({{ articles|count }})</span></li>
        {% endfor %}
    </ol>
</div>
{% endblock %}
