{% extends "base.html" %}
{% block title %}Tags, {% endblock title %}

{% block meta %}
<meta name="title" content="Tags, {{ SITENAME }}">
    <meta name="description" content="{{ SITEDESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">
{% endblock meta %}

{% block ogtags %}
    <meta property="og:url" content="{{ SITEURL }}/tags">
    <meta property="og:title" content="Tags {{ SITENAME }}">
{% endblock ogtags %}
{% block content %}
<div class="articles">
    <div class="custom-page">
        <h1>Tags</h1>
    </div>
    <ol class="lists">
        {% for tag, articles in tags %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> <span class="count">({{ articles|count }})</span></li>
        {% endfor %}
    </ol>
</div>
{% endblock %}
