/************************
 *
 *Brutalist Pelican Theme for mamcmanus.com
 *© 2018 Matt McManus
 *
 *Custom by Claromes
 *
 ***********************
 */

/* MIXINS */
@import reset.sass
/* END MIXINS */

/* FONTS */
body
  background: #fff
  color: #000
  font-size: large
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
/* END FONTS */

/* MAIN CONTENT CONTAINER */
.page
  max-width: 45em
  /* 768/16 = 48 (~50) */
  margin: auto
  margin-bottom: 0.5em
  text-align: center
  line-height: 1.5
  .page-title
    h1
      font-weight: 600
      text-align: center
/* END MAIN CONTENT CONTAINER

/* LINKS */
a
  color: #0000ee
  text-decoration: underline
  &:visited
    color: #0000ee
  &:focus
    color: #ee0000
/* END LINKS */

/* NAVIGATION */
div#masthead
  max-width: 45em
  margin: auto
  padding-top: 1.6em
  h1
    padding-left: 1.6em
    text-decoration: none
    font-weight: 400
    cursor: default
    a
      text-decoration: none
      font-weight: 400
  a
    width: fit-content

  nav#menu
    padding: 0.4em 0 2.5em 0.8em
    ol
      display: flex
    li
      font-weight: 400
    li a
      display: block
      padding: 0.4em 0.8em
      font-weight: 400
      text-decoration: none

  a#menu-link
    float: left
    display: block
    padding: 0.2em 0
    margin: 1.6em
    font-size: 1em
    text-decoration: none
/* END NAVIGATION */

/* FOOTER */
footer
  width: 90%
  margin: 5em auto 0 auto
/* END FOOTER STYLES */

/* ARTICLES */
.articles
  text-align: left
  padding: 0 1.8em
  ol li
    margin-bottom: 1.5em
  article
    line-height: 1.5em
    h2
      padding-right: 1em
      margin-bottom: 0
      margin-top: 0
    header
      width: fit-content
      a > h2
        text-decoration: underline
      h2
        font-size: 1em
        font-weight: 400
      .note
        float: right

    .summary
      font-size: 1em
      font-weight: 400
/* END ARTICLES */

/* ARTICLE */
.article
  img
    max-width: 100%
    display: block
    margin-left: auto
    margin-right: auto
  article
    display: inline-block
    width: 90%
    /* results in ~60-70 characters per line */
    text-align: left
    line-height: 1.75
    padding-top: 0.5em
    /* Article published date*/
    footer
      margin-bottom: 0
      margin-top: 0
      p
        text-align: center
    /*Article Header */
    header
      .project-header-logo
        padding-bottom: 4em
      h2
        font-size: 2em
        /* 32/16 = 2*/
        padding-bottom: 0.5em
        font-weight: 400
        text-align: center
      p
        font-size: 1em
        padding-bottom: 1em
        font-weight: 300
        text-align: center
    /* Article content styles */

    .content
      font-size: 1em
      /* 18/16 = 1.125 */
      font-weight: 300
      p
        padding-bottom: 0.2em
        padding-top: 0.8em

      /* article headers */
      h2
        font-size: 1.3em
        padding-bottom: .75em
        padding-top: 1.5em
        font-weight: 400
      h3
        font-size: 1.1em
        padding-bottom: .75em
        padding-top: 1.5em
        font-weight: 400
      h4
        font-size: 1em
        padding-bottom: 1.15em
        padding-top: 1em
        font-weight: 400
      blockquote
        padding-left: 10px
        font-weight: 300
        border-left: 0.3rem solid
        margin: 0 25px 25px
        margin-bottom: 0
        p
          padding-top: 0
      /* article lists */
      ul, ol
        width: 85%
        margin: 0 auto
        line-height: 2
        padding-bottom: 2em
      ul
        list-style-type: square
      ol
        list-style-type: decimal
      /* italics */
      em
        font-style: italic
        font-size: .8em
      /* code blocks */
      .highlight
        margin-bottom: 1.5em
      pre
        padding-bottom: 1.75em
        padding-top: 1em
        display: block
        padding: .5em
        white-space: pre-wrap
        white-space: -moz-pre-wrap
        white-space: -pre-wrap
        white-space: -o-pre-wrap
        word-wrap: break-word

      span.nv
        color: #c65d09
        font-weight: 400

      span.article-masthead-icon
        display: none

      .embedded-tweet
        margin-top: 1em
        margin-bottom: 2em

.back-to-top
  padding-top: 2em
  text-align: center
  margin-top: 2em
  a
    font-size: 1.5em
    /* 24/16=1.5 */
    font-weight: 400
/* END ARTICLE */

/* PAGINATION */
.paginator
  font-size: 3em
  text-align: center
  span
    font-size: .5em
  a
    text-decoration: none
  a.previous
    float: left
  a.next
    float: right
/* END PAGINATION */

/* TAGS/CATEGORIES */
.count
  float: right
/* TAGS/CATEGORIES */

/* CUSTOM */
.video-yt
  aspect-ratio: 16 / 9
  width: 100%

.footer-post
  span
    font-weight: 600

.author-post
  span
    font-weight: 400

code:not(pre code)
  padding: 0.2em 0.3em
  color: #44475a
  background-color: #e3e3e3
  border-radius: 6px

ul li ul, ul li ul li ul
  padding-bottom: 0 !important

.custom-page
  ol
    margin: 0 !important
  li
    list-style: square
  h1
    text-align: left
    font-size: 20px
    font-weight: 600
    padding-bottom: 20px
  h2
    font-size: 15px
    font-weight: 400
    padding-bottom: 15px

.lists
  li
    margin-bottom: 0 !important
/* END CUSTOM */
