/* Brutalist Pelican Theme © 2018 Matt McManus
  Customized by Claromes */

@import reset.sass

body
  background: #fff
  color: #000
  font-family: monospace

.page
  max-width: 45em
  margin: auto
  margin-bottom: 0.5em
  text-align: left
  line-height: 1.5
  .page-title
    padding: 0 1.8em 2em 1.8em
    h1
      font-weight: 600
      text-align: left

.tag
  vertical-align: middle
  display: inline !important

a
  color: #0000ee
  text-decoration: underline
  &:visited
    color: #0000ee
  &:focus
    color: #ee0000

header
  padding: 2em 1.8em

footer
  margin: 3em auto 0 auto
  padding: 0 1.8em
  text-align: left

.articles
  text-align: left
  padding: 0 1.8em
  ol li
    margin-bottom: 2em
  article
    line-height: 1.5em
    h2
      padding-right: 1em
      margin-bottom: 0
      margin-top: 0
    div
      width: fit-content
      a > h2
        text-decoration: underline
      h2
        font-size: 1em
        font-weight: 400
      .pin
        width: 10px
        transform: rotate(90deg)
        vertical-align: middle

    .summary
      font-size: 1em
      font-weight: 400

.article
  img
    max-width: 100%
    display: block
    margin: 0 auto
  article
    display: inline-block
    width: 100%
    text-align: left
    line-height: 1.75
    div
      padding: 0 1.8em
      margin-bottom: 0
      margin-top: 0
      p
        text-align: left
    .post-header
      h2
        font-size: 2em
        padding-bottom: 0.5em
        font-weight: 400
        text-align: left
        line-height: normal
        p
          color: #000
      p
        font-size: 1em
        padding-bottom: 1em
        font-weight: 300
        text-align: left
        color: #555

    .content
      padding: 0 1.5em
      font-size: 1em
      font-weight: 300
      font-family: 'Roboto', sans-serif
      p
        padding-bottom: 0.2em
        padding-top: 0.8em

      h2
        font-size: 1.3em
        padding-bottom: .75em
        padding-top: 1.5em
        font-weight: 600
      h3
        font-size: 1.1em
        padding-bottom: .75em
        padding-top: 1.5em
        font-weight: 600
      h4
        font-size: 1em
        padding-bottom: 1.15em
        padding-top: 1em
        font-weight: 600
      blockquote
        padding-left: 10px
        font-weight: 300
        border-left: 0.3rem solid
        margin: 0 25px 25px
        margin-bottom: 0
        p
          padding-top: 0
      ul, ol
        width: 85%
        margin: 0 auto
        line-height: 2
        padding-bottom: 2em
      ul
        list-style-type: square
      ol
        list-style-type: decimal
      em
        font-style: italic
        font-size: .8em
      .highlight
        margin-bottom: 1.5em
      pre
        padding-bottom: 1.75em
        padding-top: 1em
        display: block
        padding: .5em
        white-space: pre-wrap
        white-space: -moz-pre-wrap
        white-space: -pre-wrap
        white-space: -o-pre-wrap
        word-wrap: break-word
        color: #000
        background-color: #dbdbdb
        border-radius: 6px

      span.nv
        color: #c65d09
        font-weight: 400

      span.article-masthead-icon
        display: none

.paginator
  font-size: 3em
  text-align: center
  span
    font-size: .5em
  a
    text-decoration: none
  a.previous
    float: left
  a.next
    float: right

.count
  float: right

.video-yt
  aspect-ratio: 16 / 9
  width: 100%

.footer-post
  padding: 0 1.8em
  span
    font-weight: 600

.author-post
  font-family: monospace
  span
    font-weight: 400

code:not(pre code)
  padding: 0.2em 0.3em
  color: #44475a
  background-color: #dbdbdb
  border-radius: 6px
  overflow-wrap: break-word

ul li ul, ul li ul li ul
  padding-bottom: 0 !important

.custom-page
  ol
    margin: 0 !important
  li
    list-style: square
  h1
    text-align: left
    font-size: 20px
    font-weight: 600
    padding-bottom: 20px
  h2
    font-size: 15px
    font-weight: 400
    padding-bottom: 15px

.lists
  li
    margin-bottom: 0 !important
