/************************
 *
 *Brutalist Pelican Theme for mamcmanus.com
 *© 2018 Matt McManus
 *
 *Custom by Claromes
 *
 ***********************
 */

/* MIXINS */
@import reset.sass
/* END MIXINS */

body
  background: #fff
  color: #000
  font-size: large
  font-family: serif

/* MAIN CONTENT CONTAINER */
.page
  max-width: 45em
  /* 768/16 = 48 (~50) */
  margin: auto
  margin-bottom: 0.5em
  text-align: left
  line-height: 1.5
  .page-title
    padding: 0 1.8em 0.8em 1.8em
    h1
      font-weight: 600
      text-align: left
/* END MAIN CONTENT CONTAINER

/* LINKS */
a
  color: #0000ee
  text-decoration: underline
  &:visited
    color: #0000ee
  &:focus
    color: #ee0000
/* END LINKS */

/* HEADER */
header
  padding: 2em 1.8em

  h1
    a
      color: #000
      font-size: 50px
      font-weight: 400
      text-decoration: none
      cursor: pointer
      &:visited
        color: #000
      &:focus
        color: #ee0000
    /* END HEADER */

/* FOOTER */
footer
  margin: 2em auto 0 auto
  padding: 0 1.8em
  text-align: left
/* END FOOTER STYLES */

/* ARTICLES */
.articles
  text-align: left
  padding: 0 1.8em
  ol li
    margin-bottom: 2em
  article
    line-height: 1.5em
    h2
      padding-right: 1em
      margin-bottom: 0
      margin-top: 0
    div
      width: fit-content
      a > h2
        text-decoration: underline
      h2
        font-size: 1em
        font-weight: 400
      .note
        float: right

    .summary
      font-size: 1em
      font-weight: 400
/* END ARTICLES */

/* ARTICLE */
.article
  img
    max-width: 100%
    display: block
  article
    display: inline-block
    width: 90%
    /* results in ~60-70 characters per line */
    text-align: left
    line-height: 1.75
    /* Article published date*/
    div
      padding: 0 1.8em
      margin-bottom: 0
      margin-top: 0
      p
        text-align: left
    /*Article Header */
    .post-header
      h2
        font-size: 2em
        /* 32/16 = 2*/
        padding-bottom: 0.5em
        font-weight: 400
        text-align: left
        line-height: normal
      p
        font-size: 1em
        padding-bottom: 1em
        font-weight: 300
        text-align: left
        color: #aaa
    /* Article content styles */

    .content
      font-size: 1em
      /* 18/16 = 1.125 */
      font-weight: 300
      p
        padding-bottom: 0.2em
        padding-top: 0.8em

      /* article headers */
      h2
        font-size: 1.3em
        padding-bottom: .75em
        padding-top: 1.5em
        font-weight: 400
      h3
        font-size: 1.1em
        padding-bottom: .75em
        padding-top: 1.5em
        font-weight: 400
      h4
        font-size: 1em
        padding-bottom: 1.15em
        padding-top: 1em
        font-weight: 400
      blockquote
        padding-left: 10px
        font-weight: 300
        border-left: 0.3rem solid
        margin: 0 25px 25px
        margin-bottom: 0
        p
          padding-top: 0
      /* article lists */
      ul, ol
        width: 85%
        margin: 0 auto
        line-height: 2
        padding-bottom: 2em
      ul
        list-style-type: square
      ol
        list-style-type: decimal
      /* italics */
      em
        font-style: italic
        font-size: .8em
      /* code blocks */
      .highlight
        margin-bottom: 1.5em
      pre
        padding-bottom: 1.75em
        padding-top: 1em
        display: block
        padding: .5em
        white-space: pre-wrap
        white-space: -moz-pre-wrap
        white-space: -pre-wrap
        white-space: -o-pre-wrap
        word-wrap: break-word

      span.nv
        color: #c65d09
        font-weight: 400

      span.article-masthead-icon
        display: none

      .embedded-tweet
        margin-top: 1em
        margin-bottom: 2em

  .back-to-top
    padding-top: 3em
    text-align: left
    a
      font-size: 1.5em
      /* 24/16=1.5 */
      font-weight: 400
/* END ARTICLE */

/* PAGINATION */
.paginator
  font-size: 3em
  text-align: center
  span
    font-size: .5em
  a
    text-decoration: none
  a.previous
    float: left
  a.next
    float: right
/* END PAGINATION */

/* TAGS/CATEGORIES */
.count
  float: right
/* TAGS/CATEGORIES */

/* CUSTOM */
.video-yt
  aspect-ratio: 16 / 9
  width: 100%

.footer-post
  padding: 0 1.8em
  span
    font-weight: 600

.author-post
  span
    font-weight: 400

code:not(pre code)
  padding: 0.2em 0.3em
  color: #44475a
  background-color: #e3e3e3
  border-radius: 6px

ul li ul, ul li ul li ul
  padding-bottom: 0 !important

.custom-page
  ol
    margin: 0 !important
  li
    list-style: square
  h1
    text-align: left
    font-size: 20px
    font-weight: 600
    padding-bottom: 20px
  h2
    font-size: 15px
    font-weight: 400
    padding-bottom: 15px

.lists
  li
    margin-bottom: 0 !important
/* END CUSTOM */
