/* Claro Pelican Theme © 2023 Clarissa Rodrigues Mendes
  Froked Brutalist Pelican Theme © 2018 Matt McManus */

@use 'reset'

@font-face
  font-family: "iA Writer Quattro"
  src: url("font/ia-writer-quattro-latin-400-normal.woff2") format("woff2")
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: "iA Writer Quattro"
  src: url("font/ia-writer-quattro-latin-400-italic.woff2") format("woff2")
  font-weight: 400
  font-style: italic
  font-display: swap

@font-face
  font-family: "iA Writer Quattro"
  src: url("font/ia-writer-quattro-latin-700-normal.woff2") format("woff2")
  font-weight: 700
  font-style: normal
  font-display: swap

@font-face
  font-family: "iA Writer Quattro"
  src: url("font/ia-writer-quattro-latin-700-italic.woff2") format("woff2")
  font-weight: 700
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Roboto';
  src: url(font/roboto-math-300-600-italic.woff2) format('woff2');
  font-weight: 300 600;
  font-style: italic;
  font-display: swap;

@font-face
  font-family: 'Roboto';
  src: url(font/roboto-symbols-300-600-italic.woff2) format('woff2');
  font-weight: 300 600;
  font-style: italic;
  font-display: swap;

@font-face
  font-family: 'Roboto';
  src: url(font/roboto-latin-300-600-italic.woff2) format('woff2');
  font-weight: 300 600;
  font-style: italic;
  font-display: swap;

@font-face
  font-family: 'Roboto';
  src: url(font/roboto-latin-300-600-italic.woff2) format('woff2');
  font-weight: 300 600;
  font-style: italic;
  font-display: swap;

@font-face
  font-family: 'Roboto';
  src: url(font/roboto-math-300-600-normal.woff2) format('woff2');
  font-weight: 300 600;
  font-style: normal;
  font-display: swap;

@font-face
  font-family: 'Roboto';
  src: url(font/roboto-symbols-300-600-normal.woff2) format('woff2');
  font-weight: 300 600;
  font-style: normal;
  font-display: swap;

@font-face
  font-family: 'Roboto';
  src: url(font/roboto-latin-ext-300-600-normal.woff2) format('woff2');
  font-weight: 300 600;
  font-style: normal;
  font-display: swap;

@font-face
  font-family: 'Roboto';
  src: url(font/roboto-latin-300-600-normal.woff2) format('woff2');
  font-weight: 300 600;
  font-style: normal;
  font-display: swap;

:root
  --light-bg: #fbf4e8
  --light-text: #31322d
  --light-text-alt: #5a5c54
  --light-link: #31322d

  --link-hover-color: #31322d
  --link-focus-color: #5a5c54

  --pre-color: #31322d
  --pre-bg: #f1e3cd
  --pre-span: #d6240c

  --code-color: #31322d
  --code-bg: #f1e3cd

#full-page
  background: var(--light-bg)
  color: var(--light-text)
  font-family: "iA Writer Quattro", monospace
  font-size: small
  min-height: 100vh

.page
  max-width: 65em
  margin: auto
  text-align: left
  line-height: 1.5
  .page-title
    padding: 0 1.8em 2em 1.8em
    h1
      font-weight: 600
      text-align: left

.tag
  vertical-align: middle
  display: inline !important

a
  color: var(--light-link)
  text-decoration: underline
  &:hover
    color: var(--light-bg) !important
    background: var(--link-hover-color) !important
  &:visited
    color: var(--light-link)
  &:focus
    color: var(--link-focus-color) !important

header
  padding: 4em 1.8em 4em 1.8em
  a
    margin-right: 1.3em
    color: var(--light-text)
    span
      text-decoration: none
    &:visited
      color: var(--light-text)


footer
  margin: 4em auto 0 auto
  padding: 0 1.8em 2em 1.8em
  text-align: center
  a
    color: var(--light-text)
    &:visited
      color: var(--light-text)

.articles
  text-align: left
  padding: 0 1.8em
  time
    font-style: italic
  ol li
    margin-bottom: 2em
  .projects li
    margin-bottom: 1em
  article
    line-height: 1.5em
    h2
      padding-right: 1em
      margin-bottom: 0
      margin-top: 0
    div
      width: fit-content
      a > h2
        text-decoration: underline
      h2
        font-size: 1em
        font-weight: 400
        padding-right: 0 !important
    .container-pinned
      float: right
      margin-left: 6px
      margin-top: -2px
      .pin
        font-style: italic
        font-size: x-small
        text-underline-offset: 3px
        vertical-align: text-bottom

.author
  font-family: "iA Writer Quattro", monospace

.article
  img
    max-width: 100%
    display: block
    margin: 0 auto
  video
    width: 100%
  article
    display: inline-block
    width: 100%
    text-align: left
    line-height: 1.75
    div
      padding: 0 1.8em
      margin-bottom: 0
      margin-top: 0
      p
        text-align: left
    .post-header
      h2
        font-size: 2em !important
        font-weight: 400
        text-align: left
        line-height: normal
        p
          color: var(--light-text)
      p
        font-size: 1em !important
        font-weight: 300
        text-align: left
        color: var(--light-text-alt)
        a
          color: var(--light-text-alt)
      .description
        font-size: 1.2em !important
        color: var(--light-text)

    .post-info
      padding-bottom: 3em !important

    .content
      padding: 1.5em
      font-size: 1.2em !important
      font-weight: 400
      font-family: 'Roboto', sans-serif
      p
        padding-bottom: 0.2em
        padding-top: 0.8em

      h2
        font-size: 1.3em
        padding-bottom: .75em
        padding-top: 1.5em
        font-weight: 600
      h3
        font-size: 1.1em
        padding-bottom: .75em
        padding-top: 1.5em
        font-weight: 600
      h4
        font-size: 1em
        padding-bottom: 1.15em
        padding-top: 1em
        font-weight: 600
      blockquote
        padding-left: 10px
        font-weight: 400
        border-left: 0.3rem solid
        margin: 0 25px 25px
        margin-bottom: 0
        p
          padding-top: 0
      ul, ol
        width: 85%
        margin: 0 auto
        line-height: 2
        padding-bottom: 2em
      ul
        list-style-type: square
      ol
        list-style-type: decimal
      em
        font-style: italic
        font-size: .8em
      .highlight
        margin-bottom: 1.5em
      pre
        padding-bottom: 1.75em
        padding-top: 1em
        display: block
        padding: .5em
        white-space: pre-wrap
        white-space: -moz-pre-wrap
        white-space: -pre-wrap
        white-space: -o-pre-wrap
        word-wrap: break-word
        color: var(--pre-color)
        background-color: var(--pre-bg)
        border-radius: 6px

      span.nv
        color: var(--pre-span)
        font-weight: 400

      span.article-masthead-icon
        display: none

    .content:has(> p:first-child)
      padding-top: 0

.paginator
  font-size: 3em
  text-align: center
  span
    font-size: .5em
  a
    text-decoration: none
    color: var(--light-text)
    &:visited
      color: var(--light-text)
  a.previous
    float: left
  a.next
    float: right

.count
  float: right

.video-yt
  aspect-ratio: 16 / 9
  width: 100%

.footer-post
  margin-top: 1em
  padding: 0 1.8em
  color: var(--light-text-alt)
  a
    color: var(--light-text-alt)

code:not(pre code)
  padding: 0.2em 0.3em
  color: var(--code-color)
  background-color: var(--code-bg)
  border-radius: 6px
  overflow-wrap: break-word

ul li ul, ul li ul li ul
  padding-bottom: 0 !important

.custom-page
  ol
    margin: 0 !important
  li
    list-style: square
  h1
    text-align: left
    font-size: 20px
    font-weight: 600
    padding-bottom: 20px
  h2
    font-size: 15px
    font-weight: 400
    padding-bottom: 15px

.lists
  li
    margin-bottom: 0 !important

.page-404
  font-family: "Ubuntu Mono", monospace

.more
  width: fit-content
  padding: 0 4px 2px 4px
  text-decoration: none
  color: var(--light-bg) !important
  background: var(--light-text)
  &:hover, &:focus
    color: var(--light-text) !important
    background: var(--light-bg) !important
    border: 1px solid var(--light-text) !important

.bar
  display: inline-block
  width: 7px
  height: 15px
  margin-bottom: 7px
  vertical-align: middle
  background-color: var(--light-text)
  opacity: 0
  -webkit-animation: bar-anima 1.2s infinite
  -moz-animation: bar-anima 1.2s infinite
  -ms-animation: bar-anima 1.2s infinite
  -o-animation: bar-anima 1.2s infinite
  animation: bar-anima 1.2s infinite

@keyframes bar-anima
  0%
    opacity: 0
  65%
    opacity: 0
  100%
    opacity: 1

.contact
  font-style: italic
  font-weight: bold
