/* Brutalist Pelican Theme © 2018 Matt McManus
  Customized by claromes */

@use 'reset'

:root
  /* Modes */
  --light-bg: #ffffff
  --light-text: #000000
  --light-text-alt: #3c3c3c
  --light-link: #000000
  --light-content: "dark mode"

  --dark-bg: #000000
  --dark-text: #ffffff
  --dark-text-alt: #c9c9c9
  --dark-link: #ffffff
  --dark-content: "light mode"

  /* Fixed */
  --link-hover-color: #6b6b6b
  --link-focus-color: #3313e9

  --pre-color: #1b1b1b
  --pre-bg: #dbdbdb
  --pre-span: #c65d09

  --code-color: #44475a
  --code-bg: #dbdbdb

/* Theme switcher */
#modes-toggle:checked ~ #full-page
  background: var(--dark-bg)
  color: var(--dark-text)

  .modes-label
    &::before
      content: var(--dark-content)

  a
    color: var(--dark-link)
    &:visited
      color: var(--dark-link-visited)
    &:hover
      color: var(--link-hover-color)

  header
    a
      color: var(--dark-text)
      &:visited
        color: var(--dark-text)

  .article
    article
      .post-header
        h2
          p
            color: var(--dark-text)
        p
          color: var(--dark-text-alt)
          a
            color: var(--dark-text-alt)
        .description
          color: var(--dark-text)

  .footer-post
    color: var(--dark-text-alt)
    a
      color: var(--dark-text-alt)

/* General */
#full-page
  background: var(--light-bg)
  color: var(--light-text)
  font-family: "Ubuntu Mono", monospace
  font-size: small
  min-height: 100vh

.modes-label
  cursor: pointer
  text-decoration: underline
  &:hover
    color: var(--link-hover-color)
  &::before
    content: var(--light-content)

.page
  max-width: 70em
  margin: auto
  text-align: left
  line-height: 1.5
  .page-title
    padding: 0 1.8em 2em 1.8em
    h1
      font-weight: 600
      text-align: left

.tag
  vertical-align: middle
  display: inline !important

a
  color: var(--light-link)
  text-decoration: underline
  &:hover
    color: var(--link-hover-color) !important
  &:visited
    color: var(--light-link)
  &:focus
    color: var(--link-focus-color) !important

header
  padding: 4em 1.8em 4em 1.8em
  a
    padding-right: 1.3em
    color: var(--light-text)
    &:visited
      color: var(--light-text)


footer
  margin: 4em auto 0 auto
  padding: 0 1.8em 2em 1.8em
  text-align: center
  a
    color: var(--light-text)
    &:visited
      color: var(--light-text)

.articles
  text-align: left
  padding: 0 1.8em
  ol li
    margin-bottom: 2em
  .projects li
    margin-bottom: 1em
  article
    line-height: 1.5em
    h2
      padding-right: 1em
      margin-bottom: 0
      margin-top: 0
    div
      width: fit-content
      a > h2
        text-decoration: underline
      h2
        font-size: 1em
        font-weight: 400
        padding-right: 0 !important
    .container-note
      float: right
      margin-left: 6px
      margin-top: -2px
      .pin
        img
          max-width: none

.article
  img
    max-width: 100%
    display: block
    margin: 0 auto
  video
    width: 100%
  article
    display: inline-block
    width: 100%
    text-align: left
    line-height: 1.75
    div
      padding: 0 1.8em
      margin-bottom: 0
      margin-top: 0
      p
        text-align: left
    .post-header
      h2
        font-size: 2em !important
        font-weight: 400
        text-align: left
        line-height: normal
        p
          color: var(--light-text)
      p
        font-size: 1em !important
        font-weight: 300
        text-align: left
        color: var(--light-text-alt)
        a
          color: var(--light-text-alt)
      .description
        font-size: 1.2em !important
        color: var(--light-text)

    .post-info
      padding-bottom: 3em !important

    .content
      padding: 1.5em
      font-size: 1.2em !important
      font-weight: 400
      font-family: 'Roboto', sans-serif
      p
        padding-bottom: 0.2em
        padding-top: 0.8em

      h2
        font-size: 1.3em
        padding-bottom: .75em
        padding-top: 1.5em
        font-weight: 600
      h3
        font-size: 1.1em
        padding-bottom: .75em
        padding-top: 1.5em
        font-weight: 600
      h4
        font-size: 1em
        padding-bottom: 1.15em
        padding-top: 1em
        font-weight: 600
      blockquote
        padding-left: 10px
        font-weight: 400
        border-left: 0.3rem solid
        margin: 0 25px 25px
        margin-bottom: 0
        p
          padding-top: 0
      ul, ol
        width: 85%
        margin: 0 auto
        line-height: 2
        padding-bottom: 2em
      ul
        list-style-type: square
      ol
        list-style-type: decimal
      em
        font-style: italic
        font-size: .8em
      .highlight
        margin-bottom: 1.5em
      pre
        padding-bottom: 1.75em
        padding-top: 1em
        display: block
        padding: .5em
        white-space: pre-wrap
        white-space: -moz-pre-wrap
        white-space: -pre-wrap
        white-space: -o-pre-wrap
        word-wrap: break-word
        color: var(--pre-color)
        background-color: var(--pre-bg)
        border-radius: 6px

      span.nv
        color: var(--pre-span)
        font-weight: 400

      span.article-masthead-icon
        display: none

    .content:has(> p:first-child)
      padding-top: 0

.paginator
  font-size: 3em
  text-align: center
  span
    font-size: .5em
  a
    text-decoration: none
    color: var(--light-text)
    &:visited
      color: var(--light-text)
  a.previous
    float: left
  a.next
    float: right

.count
  float: right

.video-yt
  aspect-ratio: 16 / 9
  width: 100%

.footer-post
  margin-top: 1em
  padding: 0 1.8em
  color: var(--light-text-alt)
  a
    color: var(--light-text-alt)

code:not(pre code)
  padding: 0.2em 0.3em
  color: var(--code-color)
  background-color: var(--code-bg)
  border-radius: 6px
  overflow-wrap: break-word

ul li ul, ul li ul li ul
  padding-bottom: 0 !important

.custom-page
  ol
    margin: 0 !important
  li
    list-style: square
  h1
    text-align: left
    font-size: 20px
    font-weight: 600
    padding-bottom: 20px
  h2
    font-size: 15px
    font-weight: 400
    padding-bottom: 15px

.lists
  li
    margin-bottom: 0 !important

.page-404
  font-family: "Ubuntu Mono", monospace
